Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

.lintstagedrc.json:

{
  "*.json": "prettier --write --ignore-unknown",
  "*.{js,ts}": [
    "eslint --fix",
    "npm run test:stage",
    "prettier --write --ignore-unknown"
  ]
}

feat: creates isFeatureFlagEnabled func on prismaClient
  src/constants/index.ts
  src/prismaClient/index.ts
  src/prismaClient/isFeatureFlagEnabled.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: uses new isFeatureFlagEnabled func on /compose and /feature-flag endpoint
  src/compose.ts
  src/featureFlag.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test(compose): mocks new isFeatureFlagEnabled func to test inner logic
  src/__tests__/compose.spec.ts
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates volunteer zendesk status when she is not available for new matches
  src/match/createMatch.ts
  src/match/getMsrEmail.ts
  src/match/updateUnavailableVolunteer.ts
  src/types/Zendesk.ts
  src/zendeskClient/updateUser.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds tests
  src/match/__tests__/updateUnavailableVolunteer.spec.ts
  src/match/createMatch.ts
  src/match/updateUnavailableVolunteer.ts
  src/zendeskClient/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: changes updateUser error message
  src/zendeskClient/updateUser.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds test to check updateUser payload
  src/match/__tests__/updateUnavailableVolunteer.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds validation for res from /compose
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(seed): updates db seed with correct volunteers emails
  prisma/seed.mjs
Due: none

chore: increases /compose func timeout to 60s
  serverless.yaml
Due: none

feat(busara): adds envs for email encryption for busara link
  .env.example
  .github/workflows/integration.yml
  serverless.yaml
Due: none

feat(match): formats match email as html
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/getMsrEmail.ts
  src/types/Zendesk.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

refactor: update Docker Compose script to use hyphenated form
  package.json
Due: prettier --write --ignore-unknown

chore: adds db:reset script
  package.json
Due: prettier --write --ignore-unknown

fix(serverless): fix typo when declaring encrypt env vars
  .env.example
  serverless.yaml
Due: none

fix: updates support_request before creating match
  src/match/createMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds isProduction check
  src/utils/index.ts
  src/utils/isProduction.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: adds NODE_ENV env vars
  .env.example
  .github/workflows/integration.yml
  serverless.yaml
Due: none

feat: updates getMsrEmail to return all comment body
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(publicService): sends email to msr when redirect public service ticket
  src/match/directToPublicService.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix(email): typo in public service href link
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test(email): updates tests after changing how and when we send emails to msr
  src/__tests__/process.spec.ts
  src/match/__tests__/createAndUpdateZendeskMatchTickets.spec.ts
  src/match/__tests__/directToPublicService.spec.ts
  src/match/__tests__/getMsrEmail.spec.ts
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(email): remove isMatch flag bc we can check if its match through volunteer param
  src/match/__tests__/getMsrEmail.spec.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/directToPublicService.ts
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

ci: removes extra env var
  .github/workflows/integration.yml
Due: none

chore: adds `/token` to zendesk api user env var export
  src/constants/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore(serverless): updates timeout for compose endpoint to 30s bc is max for an endpoint
  serverless.yaml
Due: none

fix: removes extra NODE_ENV var on integration pipeline
  .github/workflows/integration.yml
Due: none

chore: removes NODE_ENV var bc lambda sets on remote env
  .env.example
  .github/workflows/integration.yml
  serverless.yaml
Due: none

feat: checks if is production via lambda name
  src/utils/isProduction.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: enables match for msr test req only
  src/compose.ts
  src/constants/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: add manualMatch lambda function handling msr zendesk ticket and volunteer email
  handler.ts
  serverless.yaml
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: add 'manual' as a new value to the match_stage
  prisma/migrations/20240122190941_add_manual_match_stage/migration.sql
  prisma/schema.prisma
Due: none

feat: add verification for support request using msrZendeskTicketId and volunteer availability using email
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: add match between volunteer and MSR if volunteer is available
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: syncs local db with django changes
  prisma/migrations/20240123175555_baseline_with_django_changes_02/migration.sql
  prisma/schema.prisma
Due: none

chore: add console.error to manual match
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: destruture properties directly using default values if parsedBody is undefined
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: enhance parsing and validation of request body
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: add early return for volunteer unavailability
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: allow manual match between volunteer and msr when the volunteer is unavailable
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage
