Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(email): revert email busara link
  src/match/__tests__/getMsrEmail.spec.ts
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix(compose): default value for supportExpertise is "not_found"
  src/__tests__/compose.spec.ts
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

Revert "feat(email): revert email busara link"
  src/match/__tests__/getMsrEmail.spec.ts
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

refactor: padronizes error logs for manual match
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: baselines db with stg
  prisma/migrations/20240130173512_20240123175555_baseline_with_django_changes_03/migration.sql
  prisma/schema.prisma
Due: none

fix: removes latest migration bc cannot add constraint on table with non unique emails
  prisma/migrations/20240130173512_20240123175555_baseline_with_django_changes_03/migration.sql
  prisma/schema.prisma
Due: none

fix(compose): only create support req for INT msr and only create match for open support request
  src/__tests__/compose.spec.ts
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

add option direct to social worker
  src/constants/index.ts
  src/match/directToSocialWorker.ts
  src/match/getMsrEmail.ts
  src/match/matchLogic.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: add env
  serverless.yaml
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: fix sintax errors
  .env.example
  src/match/getMsrEmail.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

refactor(socialWorker): randomization to select referral
  src/constants/index.ts
  src/match/matchLogic.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(socialWorker): changes support_request status to social_worker
  prisma/migrations/20240207194800_adds_status_social_worker/migration.sql
  prisma/schema.prisma
Due: none

refactor(socialWorker): facilitates email template logic
  src/match/directToSocialWorker.ts
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: adds tests to social worker flow
  src/match/__tests__/directToSocialWorker.spec.ts
  src/match/directToSocialWorker.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(socialWorker): adds agent to social worker zendesk ticket
  src/constants/index.ts
  src/match/__tests__/directToSocialWorker.spec.ts
  src/match/directToSocialWorker.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test(socialWorker): adds tests to social worker email
  src/match/__tests__/getMsrEmail.spec.ts
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(migration): maps new status for support request
  prisma/migrations/20240207211123_adds_status_public_service_social_worker/migration.sql
  prisma/schema.prisma
Due: none

ci: adds CAL_LINK var to pipeline
  .github/workflows/integration.yml
Due: none

feat(socialWorker): adds feature flag to randomization function
  src/constants/index.ts
  src/match/matchLogic.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: adds tests to decideOnRandomization func
  src/match/__tests__/matchLogic.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(seed): updates seed with social worker feature flag
  prisma/seed.mjs
Due: none

feat: adjusts social worker email
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates social worker email
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: removes prisma migration history, seed and scripts
  package.json
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20231115214225_support_request/migration.sql
  prisma/migrations/20231117191831_new_match_tables/migration.sql
  prisma/migrations/20231121011135_adds_msrs_place/migration.sql
  prisma/migrations/20231121202957_volunteer_match_tables/migration.sql
  prisma/migrations/20231127181715_adds_cities_msr_relation/migration.sql
  prisma/migrations/20231128211417_updates_volunteer_field_types/migration.sql
  prisma/migrations/20231128214201_update_enums_lowercase/migration.sql
  prisma/migrations/20231129200035_update_support_request_status_enum/migration.sql
  prisma/migrations/20231129215734_adds_options_to_support_request_status/migration.sql
  prisma/migrations/20231129224941_replaces_concluded_by_completed_in_support_request_status/migration.sql
  prisma/migrations/20231130182414_create_feature_flags/migration.sql
  prisma/migrations/20231201184947_updates_support_request_status_enum/migration.sql
  prisma/migrations/20231201191312_updates_match_stage_and_match_type/migration.sql
  prisma/migrations/20231201192718_updates_match_status_enum/migration.sql
  prisma/migrations/20231204185610_volunteer_required_address_info/migration.sql
  prisma/migrations/20231204192343_adds_special_case_to_support_request_status_enum/migration.sql
  prisma/migrations/20231204195317_allows_null_volunteer_id_in_matches_table/migration.sql
  prisma/migrations/20231204200705_deletes_ended_matches_table/migration.sql
  prisma/migrations/20231204203323_adds_match_surveys_table/migration.sql
  prisma/migrations/20231204204136_fixes_survey_type_column_name/migration.sql
  prisma/migrations/20231204204748_fixes_survey_type_enum/migration.sql
  prisma/migrations/20231214211435_baseline_with_django_changes/migration.sql
  prisma/migrations/20231215133834_baseline_stg_with_prod/migration.sql
  prisma/migrations/20240104144246_feature_flag_unique_name/migration.sql
  prisma/migrations/20240104200227_baseline_whatsapp_column_drop/migration.sql
  prisma/migrations/20240122190941_add_manual_match_stage/migration.sql
  prisma/migrations/20240123175555_baseline_with_django_changes_02/migration.sql
  prisma/migrations/20240207194800_adds_status_social_worker/migration.sql
  prisma/migrations/20240207211123_adds_status_public_service_social_worker/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/seed.mjs
Due: prettier --write --ignore-unknown

ci: removes migrate workflow
  .github/workflows/migrate.yml
Due: none

feat: updated schema.prisma file from https://github.com/mapadoacolhimento/mapa-migrations/blob/main/schema.prisma
  prisma/schema.prisma
Due: none

feat: update project README
  README.md
Due: none

feat(busara): saves email hash and email data from msrs
  src/match/getMsrEmail.ts
  src/utils/index.ts
  src/utils/saveEncryptedEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: process open support requests sequentially
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(busara): adds info about survey reward
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(match): adds whatsapp link to match email
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix(compose): process each support request individually
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds logs to check manual match problems
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

Path conditions:
  prettier --write --ignore-unknown: (any of: *.json) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
  npm run test:stage: any of: *.{js,ts}
