Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

.lintstagedrc.json:

{
  "*.json": "prettier --write --ignore-unknown",
  "*.{js,ts}": [
    "eslint --fix",
    "npm run test:stage",
    "prettier --write --ignore-unknown"
  ]
}

fix(migrations): allows null volunteer_id in matches table
  prisma/migrations/20231204195317_allows_null_volunteer_id_in_matches_table/migration.sql
  prisma/schema.prisma
Due: none

fix(migrations): deletes ended_matches table
  prisma/migrations/20231204200705_deletes_ended_matches_table/migration.sql
  prisma/schema.prisma
Due: none

feat(migrations): adds match_surveys table
  prisma/migrations/20231204203323_adds_match_surveys_table/migration.sql
  prisma/schema.prisma
Due: none

fix(migrations): fixes survey_type column name
  prisma/migrations/20231204204136_fixes_survey_type_column_name/migration.sql
  prisma/schema.prisma
Due: none

fix(migrations): fixes survey_type enum
  prisma/migrations/20231204204748_fixes_survey_type_enum/migration.sql
  prisma/schema.prisma
Due: none

feat: adds destination to create endpoint onSuccess
  serverless.yaml
Due: none

chore: adds local invocation script to process func
  lib/process.json
  package.json
Due: prettier --write --ignore-unknown

feat: adds success value to create response
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

ci: adds workflow timeout to prevent getting stuck for 6h
  .github/workflows/integration.yml
  .github/workflows/migrate.yml
Due: none

feat: adds function arn to onSuccess create endpoint
  serverless.yaml
Due: none

feat: enable support to create many support requests on /create endpoint
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: adds support to create many support requests
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds turf
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: updates eslint rules
  .eslintrc
Due: none

feat: create match utils
  src/utils/index.ts
  src/utils/match/createMatch.ts
  src/utils/match/idealMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: creates ideal match logic
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds expanded and online match logic
  src/process.ts
  src/utils/index.ts
  src/utils/match/idealMatch.ts
  src/utils/match/matchLogic.ts
  src/utils/match/publicService.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: installs jest-mock-extended
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: adds new rules to eslintrc
  .eslintrc
Due: none

feat: updates res from create func
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: adds tests to create func
  src/__tests__/create.spec.ts
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates support_request and volunteer_availability when creating a match
  src/utils/match/createMatch.ts
  src/utils/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: removes log
  src/utils/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: changes online match logic
  src/utils/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: makes some supportRequest payload values nullable and adds status as required field
  src/__tests__/create.spec.ts
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds normalizeCity func with tests
  src/utils/__tests__/normalizeCity.spec.ts
  src/utils/index.ts
  src/utils/normalizeCity.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(create): normalizes city value when saving support request
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test(create): updates create test to check prisma payload
  src/__tests__/create.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates support_request when directing to public service
  src/process.ts
  src/utils/match/publicService.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: parses bigint to string before returning match payload
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: puts stringfyBigInt function in utils
  src/process.ts
  src/utils/stringfyBigInt.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: refactors findClosestVolunteer
  src/process.ts
  src/utils/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: removes unnecessary logic
  src/utils/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: removes logs
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: returns match payload
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: fixes zendesk typo
  src/utils/match/createMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix(migrations): hotfix create if not exists
  prisma/migrations/20231204185610_volunteer_required_address_info/migration.sql
Due: none

feat: changes prettier config
  .prettierrc
Due: none
