Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

.lintstagedrc.json:

{
  "*.json": "prettier --write --ignore-unknown",
  "*.{js,ts}": [
    "eslint --fix",
    "pnpm run test:stage",
    "prettier --write --ignore-unknown"
  ]
}

chore: adds jsonwebtoken package
  package.json
  pnpm-lock.yaml
  serverless.yaml
Due: prettier --write --ignore-unknown

feat: adds auth layer to endpoints
  src/auth.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

chore: ignores deprecation when using imported tsconfig
  tsconfig.json
Due: prettier --write --ignore-unknown

chore: adds dotenv-safe package
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

feat: updates .env.example and gitignore
  .env.example
  .gitignore
Due: none

feat: updates auth
  src/auth.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

ci: adds integration pipeline
  .github/workflows/integration.yml
  serverless.yaml
Due: none

feat: extracts generatePolicy to their own utils file
  src/auth.ts
  src/utils/generatePolicy.ts
  src/utils/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

test: adds tests to generatePolicy utils
  src/utils/__tests__/generatePolicy.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

ci: setup enviroment for deployment with env stage
  .github/workflows/integration.yml
Due: none

feat: adds signToken utils for dev
  src/sign.ts
  src/utils/index.ts
  src/utils/signToken.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

feat: ignores esbuild folder from lint, git and typescript
  .eslintignore
  .gitignore
  tsconfig.json
Due: prettier --write --ignore-unknown

feat: adds initial create and process func
  handler.ts
  src/create.ts
  src/index.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

chore: corrects serverless config fot httpApi
  serverless.yaml
Due: none

fix: auth lambda gets auth header from req
  .env.example
  serverless.yaml
  src/auth.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

feat: adds docker-compose to create local db and pgadmin for development
  .env.example
  docker-compose.yml
Due: none

chore: adds prisma deps and scripts for migration
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

ci: creates pipeline to deploy new migrations to db
  .github/workflows/migrate.yml
Due: none

feat(migration): adds migrations baseline and initial support_requests
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20231114210514_support_requests/migration.sql
  prisma/migrations/20231114210907_support_requests_rename/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

chore: rename DB env var to DATABASE_URL
  serverless.yaml
Due: none

ci: renames DB to DATABASE_URL in integration pipeline
  .github/workflows/integration.yml
  .github/workflows/migrate.yml
Due: none

feat: adds multi schema names to db
  prisma/migrations/20231115181217_add_multi_schema/migration.sql
  prisma/schema.prisma
Due: none

ci: runs migration diff with pnpm dlx
  .github/workflows/migrate.yml
Due: none

ci: cancels workflow run if another started
  .github/workflows/migrate.yml
Due: none

ci: parse database url env to prisma diff script
  .github/workflows/migrate.yml
Due: none

ci: change prisma diff script to one liner
  .github/workflows/migrate.yml
Due: none

ci: push migrations to local database before diff
  .github/workflows/migrate.yml
Due: none

feat(migration): crates match schema for microservice data
  prisma/migrations/20231115181217_add_multi_schema/migration.sql
  prisma/migrations/20231115191350_register_schema_public/migration.sql
  prisma/schema.prisma
Due: none

ci: installs deps before pushing migrations to local db
  .github/workflows/migrate.yml
  package.json
Due: prettier --write --ignore-unknown

ci: adds logic to not deploy migrations if theres a diff
  .github/workflows/migrate.yml
Due: none

feat: check if diff check is working on ci
  prisma/migrations/20231115195215_diff_test/migration.sql
  prisma/schema.prisma
Due: none

ci: only output the new schema differences
  .github/workflows/migrate.yml
Due: none

feat: only add new changes, since app is using different schema
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20231114210907_support_requests_rename/migration.sql
  prisma/migrations/20231115191350_register_schema_public/migration.sql
  prisma/migrations/20231115195215_diff_test/migration.sql
  prisma/migrations/20231115201746_init/migration.sql
  prisma/schema.prisma
Due: none

ci: adds stg deploy
  .env.example
  .github/workflows/migrate.yml
Due: none

feat: try different approach to apply migrations on match schema
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20231115205934_support_requests/migration.sql
Due: none

feat: adjust model naming to adhere to prisma naming conventions
  prisma/schema.prisma
Due: none

ci: renames migrate job to deploy
  .github/workflows/migrate.yml
Due: none

feat: create migrations again to include public tables
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20231115214225_support_request/migration.sql
  prisma/schema.prisma
Due: none

ci: rewrite migrate pipeline to check diff for no changes
  .github/workflows/migrate.yml
Due: none

ci: adds deploy script to pipeline
  .github/workflows/migrate.yml
Due: none
