Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: uses encoded_id in directToQueue
  src/__tests__/process.spec.ts
  src/match/__tests__/directToQueue.spec.ts
  src/match/directToQueue.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: uses encoded_id in createAndUpdateZendeskMatchTickets
  src/emailClient/__tests__/index.spec.ts
  src/emailClient/index.ts
  src/match/__tests__/createAndUpdateZendeskMatchTickets.spec.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: removes unnecessary toString
  src/emailClient/index.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/directToPublicService.ts
  src/match/directToQueue.ts
  src/match/directToSocialWorker.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: replaces || by if else logic
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/directToPublicService.ts
  src/match/directToQueue.ts
  src/match/directToSocialWorker.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updated schema.prisma file from https://github.com/mapadoacolhimento/mapa-migrations/blob/main/postgres/schema.prisma
  prisma/schema.prisma
Due: none

chore(serverless): bumps node version to v22
  serverless.yaml
Due: none

ci: bumps node version on integration/deployment pipeline
  .github/workflows/integration.yml
Due: none

fix: sets fixed serverless version 3.40.0
  .github/workflows/integration.yml
  serverless.yaml
Due: none

chore: updates serverless version on package.json
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: uses node v20
  .github/workflows/integration.yml
  serverless.yaml
Due: none

feat: add logs when create match and update volunteer status
  src/match/createMatch.ts
  src/match/matchLogic.ts
  src/match/updateUnavailableVolunteer.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: remove binarytarget
  prisma/schema.prisma
Due: none

feat: add prune
  .github/workflows/integration.yml
  package.json
Due: prettier --write --ignore-unknown

feat: remove prune
  .github/workflows/integration.yml
Due: none

feat: update webpack.config an servelles config
  package-lock.json
  package.json
  serverless.yaml
  webpack.config.js
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: fixes
  package-lock.json
Due: prettier --write --ignore-unknown

feat: update webpack
  webpack.config.js
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test
  prisma/schema.prisma
Due: none

Revert "test"
  prisma/schema.prisma
  src/match/createMatch.ts
  src/match/matchLogic.ts
  src/match/updateUnavailableVolunteer.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: npm audit fix
  package-lock.json
Due: prettier --write --ignore-unknown

feat: add prisma envs
  .env.example
  .github/workflows/integration.yml
Due: none

feat: change find
  serverless.yaml
Due: none

fix: chang engine
  .env.example
  .github/workflows/integration.yml
  serverless.yaml
  webpack.config.js
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: remove spaces
  .github/workflows/integration.yml
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: *.json) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
  npm run test:stage: any of: *.{js,ts}
