Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updated schema.prisma file from https://github.com/mapadoacolhimento/mapa-migrations/blob/main/postgres/schema.prisma
  prisma/schema.prisma
Due: none

fix: correct typos and update types
  src/constants/index.ts
  src/emailClient/__tests__/index.spec.ts
  src/emailClient/index.ts
  src/match/__tests__/createAndUpdateZendeskMatchTickets.spec.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/utils/__tests__/getMsrInfo.spec.ts
  src/utils/getMsrInfo.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: npm audit fix
  package-lock.json
Due: prettier --write --ignore-unknown

feat: add tests to sendEmailToVolunteer
  src/emailClient/__tests__/index.spec.ts
  src/emailClient/index.ts
  src/types/MSRInformations.ts
  src/utils/__tests__/getMsrInfo.spec.ts
  src/utils/getMsrInfo.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: add new email message to volunteer with msr information
  src/constants/index.ts
  src/emailClient/index.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/types/MSRInformations.ts
  src/types/index.ts
  src/utils/getMsrInfo.ts
  src/utils/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: update createAndUpdateZendeskMatchTickets.spec.ts
  src/match/__tests__/createAndUpdateZendeskMatchTickets.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: add test getMsrInfo.ts
  src/utils/__tests__/getMsrInfo.spec.ts
  src/utils/getMsrInfo.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

teste: try to update stg on aws
  src/utils/getMsrInfo.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(serveless): update package
  prisma/schema.prisma
  serverless.yaml
Due: none

feat(serveless): update layers
  .gitignore
  serverless.yaml
Due: none

feat: add gentrate prisma integration workflow
  .github/workflows/integration.yml
Due: none

reconfigure prismaClient
  package.json
  src/prismaClient/db.ts
  src/prismaClient/index.ts
  src/prismaClient/isFeatureFlagEnabled.ts
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: select fields for supportRequest
  src/__tests__/compose.spec.ts
  src/__tests__/createNewMatch.spec.ts
  src/__tests__/findVolunteer.spec.ts
  src/createNewMatch.ts
  src/findVolunteer.ts
  src/manualMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: change turf import
  package-lock.json
  package.json
  src/match/volunteerLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: scripts to remove duplicated prisma engines
  serverless.yaml
Due: none

feat:console.log to teste actions
  src/utils/getMsrInfo.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore:reduce lambda bundle size
  .github/workflows/integration.yml
  serverless.yaml
Due: none

chore: test new-relic
  serverless.yaml
Due: none

chore: try to reduce more the bundle and keep new-relic
  serverless.yaml
Due: none

chore: add prune plugin
  package-lock.json
  package.json
  serverless.yaml
Due: prettier --write --ignore-unknown

chore: change number of version to 10
  serverless.yaml
Due: none

chore: remove info for tests
  .github/workflows/integration.yml
  src/utils/getMsrInfo.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: add supportRequestId to response when msr is direct to the queue
  src/match/__tests__/directToQueue.spec.ts
  src/match/directToQueue.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

hotfix: add force deploy
  .github/workflows/integration.yml
Due: none

chore: temporaly remove new relic to make deploy
  serverless.yaml
Due: none

chore: add new relic back to make deploy
  serverless.yaml
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: *.json) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
  npm run test:stage: any of: *.{js,ts}
