Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

fix: adds schema check in support-request migration
  prisma/migrations/20231115214225_support_request/migration.sql
Due: none

feat: removes match schema from database url in env
  .env.example
Due: none

feat: creates match tables and migrations
  prisma/migrations/20231117191831_new_match_tables/migration.sql
  prisma/schema.prisma
Due: none

feat: adds utils to parse errors msg and check json string
  src/utils/getErrorMessage.ts
  src/utils/index.ts
  src/utils/isJsonString.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

chore: adds yup dep
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

feat(prisma): exports prisma client
  src/client/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

chore(prisma): adds configs for prisma project in serverless
  .env.example
  prisma/schema.prisma
  serverless.yaml
Due: none

feat(migrations): sync with stg db
  prisma/migrations/20231121011135_adds_msrs_place/migration.sql
  prisma/schema.prisma
Due: none

feat(create): adds payload validation to create func
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

ci(migrate): updates workflow to run only when new migration files exist
  .github/workflows/migrate.yml
Due: none

chore(serverless): include all node_modules related to prisma when deploying
  serverless.yaml
Due: none

fix(serverless): adds prisma client and yup to external deps
  serverless.yaml
Due: none

feat: syncs with public schema
  prisma/migrations/20231121202957_volunteer_match_tables/migration.sql
  prisma/schema.prisma
Due: none

feat: updates .env.example
  .env.example
Due: none

feat: baseline prisma with django
  prisma/migrations/20231127181715_adds_cities_msr_relation/migration.sql
  prisma/schema.prisma
Due: none

feat(schema): updates volunteers models name to follow convention
  prisma/schema.prisma
Due: none

feat(support): creates support request and status history on db from payload
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

chore: migrates project to npm package manager
  .eslintignore
  .github/workflows/integration.yml
  .github/workflows/migrate.yml
  .husky/post-checkout
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore(serverless): migrates to serverless-webpack to work with prisma
  .babelrc
  .eslintrc
  .gitignore
  package-lock.json
  package.json
  serverless.yaml
  tsconfig.json
  webpack.config.js
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

chore: updates package-lock
  package-lock.json
Due: prettier --write --ignore-unknown

chore(serverless): config equal to prisma tutorial
  serverless.yaml
  webpack.config.js
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

fix(serverless): runs prisma generate with npx
  serverless.yaml
Due: none

ci(migrate): adds args -- to run migrate diff
  .github/workflows/migrate.yml
Due: none

feat(migrations): baseline schema with public schema
  prisma/migrations/20231128211417_updates_volunteer_field_types/migration.sql
  prisma/schema.prisma
Due: none

feat(migrations): updates enums values to lowercase
  prisma/migrations/20231128214201_update_enums_lowercase/migration.sql
  prisma/schema.prisma
Due: none

feat(support): parse bigint before returning support_request res
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

fix: removes quotes from env example
  .env.example
Due: none

feat(migrations): adds duplicated to support_request status
  prisma/migrations/20231129200035_update_support_request_status_enum/migration.sql
  prisma/schema.prisma
Due: none

fix(migrations): adds old option to support_request status
  prisma/migrations/20231129215734_adds_options_to_support_request_status/migration.sql
  prisma/schema.prisma
Due: none

fix(migrations): replaces concluded by completed in support request status
  prisma/migrations/20231129224941_replaces_concluded_by_completed_in_support_request_status/migration.sql
  prisma/schema.prisma
Due: none

feat(migration): adds feature_flag table
  prisma/migrations/20231130182414_create_feature_flags/migration.sql
  prisma/schema.prisma
Due: none

feat: adds feature-flag endpoint
  handler.ts
  serverless.yaml
  src/featureFlag.ts
Due: prettier --write --ignore-unknown, eslint --fix, pnpm run test:stage

fix(migrations): updates support request status enum
  prisma/migrations/20231201184947_updates_support_request_status_enum/migration.sql
  prisma/schema.prisma
Due: none

fix(migration): updates match stage and match type enums
  prisma/migrations/20231201191312_updates_match_stage_and_match_type/migration.sql
  prisma/schema.prisma
Due: none

fix(migration): updates match status enum
  prisma/migrations/20231201192718_updates_match_status_enum/migration.sql
  prisma/schema.prisma
Due: none

feat: baseline stg db
  prisma/migrations/20231204185610_volunteer_required_address_info/migration.sql
  prisma/schema.prisma
Due: none

feat(migrations): adds special_case to support_requests status enum
  prisma/migrations/20231204192343_adds_special_case_to_support_request_status_enum/migration.sql
  prisma/schema.prisma
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: *.json) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
  pnpm run test:stage: any of: *.{js,ts}
