Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: uses constants
  src/utils/constants.ts
  src/utils/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: creates validation utils
  src/create.ts
  src/process.ts
  src/utils/validations.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates volunteer status in case she is totally booked
  src/utils/match/createMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: changes client name to prismaClient bc of zendesk integration
  src/create.ts
  src/prismaClient/index.ts
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: adds isomorphic fetch deps
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: adds funcs to create and update zendesk ticket
  src/constants/index.ts
  src/types/Ticket.ts
  src/types/index.ts
  src/zendeskClient/createTicket.ts
  src/zendeskClient/index.ts
  src/zendeskClient/updateTicket.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: adds new zendesk envs to pipeline and severless config
  .github/workflows/integration.yml
  serverless.yaml
Due: none

feat: updates env name to use token instead of password
  .github/workflows/integration.yml
  serverless.yaml
  src/constants/index.ts
  src/zendeskClient/createTicket.ts
  src/zendeskClient/updateTicket.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: replace client with prismaClient name
  src/featureFlag.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates .env.example with zendesk variables
  .env.example
Due: none

chore: removes @jest/globals, bc @types/jest makes same job
  package-lock.json
  package.json
  src/utils/__tests__/generatePolicy.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds tests
  src/__tests__/process.spec.ts
  src/process.ts
  src/utils/__tests__/match/matchLogic.spec.ts
  src/utils/__tests__/stringfyBigInt.spec.ts
  src/utils/match/matchLogic.ts
  src/utils/stringfyBigInt.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix(migration): adds "if exists" when creating feature_flag table
  prisma/migrations/20231204185610_volunteer_required_address_info/migration.sql
Due: none

fix(baseline): baselines migrations with django database
  prisma/migrations/20231214211435_baseline_with_django_changes/migration.sql
  prisma/schema.prisma
Due: none

feat: adds guide to baseline db with django
  README.md
Due: none

fix: baseline mapa-org stg with prod
  prisma/migrations/20231215133834_baseline_stg_with_prod/migration.sql
  prisma/schema.prisma
Due: none

fix: typos and adds a slash to endpoint
  src/zendeskClient/createTicket.ts
  src/zendeskClient/updateTicket.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: undo change on support_expertise varchar size
  prisma/migrations/20231215133834_baseline_stg_with_prod/migration.sql
  prisma/schema.prisma
Due: none

fix: adjusts imports
  src/create.ts
  src/process.ts
  src/utils/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: returns match payload
  src/__tests__/process.spec.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: removes unnecessary import
  src/utils/__tests__/generatePolicy.spec.ts
  src/utils/__tests__/match/matchLogic.spec.ts
  src/utils/__tests__/stringfyBigInt.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: creates support request type
  src/types/supportRequest.ts
  src/utils/__tests__/match/matchLogic.spec.ts
  src/utils/match/createMatch.ts
  src/utils/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: creates separate match folder
  src/match/__tests__/matchLogic.spec.ts
  src/match/createMatch.ts
  src/match/matchLogic.ts
  src/match/publicService.ts
  src/process.ts
  src/utils/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: returns only match in createMatch function
  src/match/createMatch.ts
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: removes unnecessary check
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: double checks msr lat lng type
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: calcDistance returns distance or null
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: assures that findClosestVolunteer doesnt return null
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: assures that findClosestVolunteer returns null instead of undefined
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: assures that findVolunteerInTheSameCity returns null instead of undefined
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: adds should to test descriptions
  src/match/__tests__/matchLogic.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds function and tests to check if volunteer is still available after receiving a new match
  src/match/__tests__/createMatch.spec.ts
  src/match/createMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(schema): updates volunteers schema to use camelcase
  prisma/schema.prisma
Due: none

feat: adds utils to get agent and current date in zendesk format
  src/utils/getAgent.ts
  src/utils/getCurrentDate.ts
  src/utils/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates types from Zendesk integration funcs
  src/types/Ticket.ts
  src/types/Zendesk.ts
  src/types/index.ts
  src/types/supportRequest.ts
  src/zendeskClient/createTicket.ts
  src/zendeskClient/getUser.ts
  src/zendeskClient/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: unifies constants file and updates their imports
  src/constants/index.ts
  src/match/matchLogic.ts
  src/process.ts
  src/utils/constants.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds zendesk integration to directToPublicService func
  src/match/publicService.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: creates zendesk ticket custom fields dicio and volunteer type dicio
  src/constants/index.ts
  src/match/publicService.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: uses agent dicio to get agent options on getAgent func
  src/utils/getAgent.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(zendesk): integrates zendesk with match creation
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/createMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

Path conditions:
  prettier --write --ignore-unknown: (any of: *.json) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
  npm run test:stage: any of: *.{js,ts}
