Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

revert: match creator func to original name
  src/findVolunteer.ts
  src/match/__tests__/matchLogic.spec.ts
  src/match/matchLogic.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: removes console.log from fetchVolunteers
  src/lib/fetchVolunteers.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: separates volunteer logic from matchLogic
  src/match/volunteer.ts
  src/types/Volunteer.ts
  src/types/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: adds tests to new volunteer file
  src/match/__tests__/volunteer.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(match): adds more tests to online match logic
  src/match/__tests__/matchLogic.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test(online): adds tests to getOnlineVolunteer func
  src/match/__tests__/volunteer.spec.ts
  src/match/volunteer.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(volunteer): uses get volunteer logic funcs on findVolunteer endpoint
  src/findVolunteer.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(match): uses get volunteer func to create matches
  src/match/__tests__/matchLogic.spec.ts
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(volunteer): rename volunteer file to getVolunteer
  src/findVolunteer.ts
  src/match/__tests__/getVolunteer.spec.ts
  src/match/getVolunteer.ts
  src/match/matchLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(volunteer): create new file for getVolunteer utils funcs called volunteerLogic
  src/match/__tests__/matchLogic.spec.ts
  src/match/__tests__/volunteerLogic.spec.ts
  src/match/matchLogic.ts
  src/match/volunteerLogic.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: updates libs versions to remove vulnerabilities
  package-lock.json
Due: prettier --write --ignore-unknown

ci: updates node version to v20
  .github/workflows/integration.yml
Due: none

chore: updates package.json with more repo info
  .github/workflows/integration.yml
  LICENSE.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

ci: uses latest checkout action - v4
  .github/workflows/integration.yml
Due: none

feat: updated schema.prisma file from https://github.com/mapadoacolhimento/mapa-migrations/blob/main/schema.prisma
  prisma/schema.prisma
Due: none

feat: removes logic to send encrypted email hash
  src/emailClient/sendEmail.ts
  src/utils/encrypt.ts
  src/utils/index.ts
  src/utils/saveEncryptedEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: removes encryption variables
  .env.example
  .github/workflows/integration.yml
  serverless.yaml
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates match payload res to always include support request status
  src/__tests__/createNewMatch.spec.ts
  src/__tests__/process.spec.ts
  src/match/__tests__/directToPublicService.spec.ts
  src/match/__tests__/directToSocialWorker.spec.ts
  src/match/__tests__/matchLogic.spec.ts
  src/match/createMatch.ts
  src/match/directToPublicService.ts
  src/match/directToSocialWorker.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: fix vulnerabilities with audit fix
  package-lock.json
Due: prettier --write --ignore-unknown

chore: updates new relic lambda layer dep
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat(ticket): removes state from zendesk ticket creation
  src/constants/index.ts
  src/match/__tests__/directToPublicService.spec.ts
  src/match/__tests__/directToSocialWorker.spec.ts
  src/match/directToPublicService.ts
  src/match/directToSocialWorker.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: removes a/b match email experiment, defaults to old email
  src/constants/index.ts
  src/emailClient/__tests__/index.spec.ts
  src/emailClient/index.ts
  src/match/__tests__/createAndUpdateZendeskMatchTickets.spec.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/createMatch.ts
  src/utils/index.ts
  src/utils/saveBusaraABExperiment.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updated schema.prisma file from https://github.com/mapadoacolhimento/mapa-migrations/blob/main/postgres/schema.prisma
  prisma/schema.prisma
Due: none

feat: adds function to direct msr to queue
  src/constants/index.ts
  src/emailClient/index.ts
  src/match/__tests__/directToQueue.spec.ts
  src/match/directToQueue.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds logic to direct msr to queue
  src/__tests__/process.spec.ts
  src/compose.ts
  src/handleMatch.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: updates prisma to support `prismaSchemaFolder` new feature
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: adds email transactionalId
  src/constants/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: update volunteer status after match
  src/match/__tests__/createMatch.spec.ts
  src/match/__tests__/updateUnavailableVolunteer.spec.ts
  src/match/createMatch.ts
  src/match/updateUnavailableVolunteer.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: always returns supportRequestId and supportType to process return
  src/__tests__/handleMatch.spec.ts
  src/__tests__/process.spec.ts
  src/compose.ts
  src/handleMatch.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: adds sonar config file
  sonar-project.properties
Due: none

chore: adds sonarscan to github action
  .github/workflows/integration.yml
  package.json
Due: prettier --write --ignore-unknown

ci: enable automatic analysis and update sonar filename
  .github/workflows/integration.yml
  .sonarcloud.properties
Due: none

fix: uses encoded_id in directToPublicService
  src/match/__tests__/directToPublicService.spec.ts
  src/match/directToPublicService.ts
  src/types/Zendesk.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: uses encoded_id in directToSocialWorker
  src/match/__tests__/directToSocialWorker.spec.ts
  src/match/directToSocialWorker.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

Path conditions:
  prettier --write --ignore-unknown: (any of: *.json) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
  npm run test:stage: any of: *.{js,ts}
