Repository mapadoacolhimento/lambda-pedido-acolhimento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: replaces SupportRequest manual type with SupportRequests prisma type
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/createMatch.ts
  src/match/matchLogic.ts
  src/process.ts
  src/types/index.ts
  src/types/supportRequest.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: uses types from prisma on all funcs that rely on data from db
  src/match/__tests__/matchLogic.spec.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/createMatch.ts
  src/match/matchLogic.ts
  src/match/publicService.ts
  src/types/SupportRequest.ts
  src/types/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix(zendesk): stringfies ticket payload to prevent JSON.stringify error
  src/zendeskClient/createTicket.ts
  src/zendeskClient/getUser.ts
  src/zendeskClient/updateTicket.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: adds mocks where zendesk integrations funcs are called
  src/__tests__/process.spec.ts
  src/match/__tests__/matchLogic.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: creates initial error tests for createAndUpdateZendeskMatchTickets
  .eslintrc
  src/match/__tests__/createAndUpdateZendeskMatchTickets.spec.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/createMatch.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: moves getMsrEmail to its own file
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: uses getMsrEmail imported from file
  src/constants/index.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: adds integration tests for createAndUpdateZendeskMatchTickets
  src/match/__tests__/createAndUpdateZendeskMatchTickets.spec.ts
  src/setupTests.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: adds tests to getMsrEmail func
  src/match/__tests__/getMsrEmail.spec.ts
  src/match/getMsrEmail.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: updates publicService filename to directPublicService
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/match/directToPublicService.ts
  src/match/getMsrEmail.ts
  src/process.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: adds tests to directToPublicService func
  src/match/__tests__/directToPublicService.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix: updates zendesk integration to add ticket property
  src/zendeskClient/createTicket.ts
  src/zendeskClient/updateTicket.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

refactor: var names, types and func return
  src/match/createAndUpdateZendeskMatchTickets.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: renames create to compose
  handler.ts
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: removes /process endpoint and renames create to compose
  serverless.yaml
Due: none

feat: rewrites process endpoint to be a func
  src/match/directToPublicService.ts
  src/process.ts
  src/utils/index.ts
  src/utils/validations.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: updates process tests to remove aws lambda params
  src/__tests__/process.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test: replaces create to compose on tests
  src/__tests__/compose.spec.ts
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds initial seed file from prisma
  .eslintrc
  package.json
  prisma/seed.js
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: seeds db with volunteer and volunteer availability
  .eslintrc
  package.json
  prisma/seed.js
  prisma/seed.mjs
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: adds types to validated body on /create endpoint
  src/create.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(seed): updates volunteers email with dev email
  prisma/seed.mjs
Due: none

feat(seed): adds new match feature flag to seed
  prisma/seed.mjs
Due: none

feat: updates feature flag name mapping to camel case
  prisma/schema.prisma
Due: none

feat: changes feature flag name to en
  prisma/seed.mjs
Due: none

fix(migration): corrects feature flag column names to be snake case
  prisma/migrations/20240104144246_feature_flag_unique_name/migration.sql
Due: none

feat(compose): adds feature flag check before processing matches
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

test(compose): adds feature flag test cases to successful res
  src/__tests__/compose.spec.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

fix(featureFlag): changes feature flag property names to camelCase on endpoint
  src/featureFlag.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat(migrations): baseline with stg, drop whatsapp column from volunteers
  prisma/migrations/20240104200227_baseline_whatsapp_column_drop/migration.sql
  prisma/schema.prisma
Due: none

fix(seed): removes whatsapp column when creating volunteer
  prisma/seed.mjs
Due: none

refactor(compose): makes getNewMatchFeatureFlag return more verbose
  src/compose.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: improves prisma error msg
  src/utils/getErrorMessage.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

chore: adds serverless-newrelic-lambda-layers to deps
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: adds new relic env vars to .env.example
  .env.example
Due: none

chore(serverless): updates config to add new relic info
  serverless.yaml
Due: none

ci(env): adds new relic envs to env file creation
  .github/workflows/integration.yml
Due: none

chore(serverless): send all lambda logs directly to new relic
  serverless.yaml
Due: none

feat(logs): adds error longs to all catch or return callback with error status
  src/auth.ts
  src/compose.ts
  src/featureFlag.ts
  src/match/createAndUpdateZendeskMatchTickets.ts
  src/process.ts
  src/zendeskClient/createTicket.ts
  src/zendeskClient/getUser.ts
  src/zendeskClient/updateTicket.ts
Due: prettier --write --ignore-unknown, eslint --fix, npm run test:stage

feat: documents project on readme file
  .env.example
  README.md
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: *.json) or (any of: *.{js,ts})
  eslint --fix: any of: *.{js,ts}
  npm run test:stage: any of: *.{js,ts}
